.hst-node {
    cursor: pointer;
}

.hst-node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.hst-node text {
  font: 12px sans-serif;
}

.hst-link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}